  	 body {
 	      background-color: #f7f7f7;
         font-family: 'Noto Sans', sans-serif;
         margin: 0;
        padding: 0px;
  	 }
  	.bold {font-weight:600;}
  	.underline {text-decoration: underline;}
  	.space {margin-left: 12px;}
  	.ilblock {
  		display: inline-block;
  	}
    .noMB {
      margin-bottom: 0;
    }

    .title {
          background-color: #2b2929;
      margin: 0;
      color: white;
      text-align: center;
      padding: 8px;
    }

    #picker-wrapper {
      padding: 8px;
      margin: 0 auto;
      text-align: center;
    }

    .currentTime {
      padding: 8px;
      margin: 12px auto 0;
      text-align: center;
    }

    .ind-wrapper {
      text-align: center;
      margin: 0 auto;
      display: table;
    }

    .ind-wrapper.ko-style .card {
      background-color: #B39DDB;
    }
    .ind-wrapper.tw-style .card {
      background-color: #80CBC4;
    }
    .ind-wrapper.us-style .card {
      background-color: #90CAF9;
    }
    .ind-wrapper.eu-style .card {
      background-color: #FFB74D;
    }

    #result {
      text-align: center;
     margin: 0 auto;
    }

  	.day-breaker {
	    font-size: 18px;
	    font-weight: bold;
	    color: white;
	    margin: 5px 0 8px;
  	}

  	.indv {border-bottom: 1px solid #ccc;}

	#note {
	    background-color: #a6a6dc;
	    padding: 0 0 10px;
	    color: white;
	    margin-top: 40px;
      position: absolute;
      width: 100%;
      bottom: 0;
	}

  	.ct-list,  .tz-list {
	    list-style: none;
	    display: inline-flex;
	    margin: 0;
	    padding: 0;
  	}
  	.tz-list li {padding-right: 10px;}
	
	.ct-list li {
	    border: 1px solid #ccc;
	    margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;
	}

  .ct-list li label {
    cursor: pointer;
    display: block;
    padding: 10px;
  }

   .ct-list li.active:nth-child(1) {
    background-color: #80CBC4;
    color: white;
    cursor: default;
  }

   .ct-list li.active:nth-child(1) label {
       cursor: default;
   }

  .ct-list li.active:nth-child(2) {
    background-color: #B39DDB;
    color: white;
    cursor: default;
  }

   .ct-list li.active:nth-child(2) label {
       cursor: default;
   }

   .ct-list li.active:nth-child(3) {
    background-color: #90CAF9;
    color: white;
    cursor: default;
  }

   .ct-list li.active:nth-child(3) label {
       cursor: default;
   }

    .ct-list li.active:nth-child(4) {
    background-color: #FFB74D;
    color: white;
    cursor: default;
  }

   .ct-list li.active:nth-child(4) label {
       cursor: default;
   }

  	.copy-final { color: green; margin-left: 10px; font-size: 16px; font-weight: bold;}

  	.thingList, .minList:after {display: block;}
  	.thingList, .hourList, .minList  {
  		margin-bottom: 8px;
  		height: 34px;
  	}
  	.thingList {
    	display: inline-block;
  	}

  	.copy-style {margin-bottom: 10px;}
    
	 .secret {    
    margin-top: 150px;
    color: white;
  }

	.card {
	    border: 1px solid #ccc;
	    padding: 0 10px;
	    margin-bottom: 10px;
	    border-radius: 5px;
	    color: white;
	    background-color: #B39DDB;
	    max-width: 880px;
	    box-shadow: 2px 3px #ececec;
	}

	#reset {
    position: absolute;
    right: 0;
    top: 0;
    background-color: gray;
    margin: 0;
    height: 19px;
    border: none;
	}

	#reset:hover {
	    background-color: #ccc;
	}

  	.btn {
  		background-color: #f44336;
	    border: 1px solid #ccc;
	    color: #FFFFFF;
	    font-weight: bold;
	    padding: 15px 32px;
	    text-align: center;
	    margin: 16px 0;
	    text-decoration: none;
	    font-size: 16px;
	    cursor: pointer;
  	}
  	.btn:hover {
  		background-color: #FF6E40;
  	}


  	.hide {display: none;}
