  	 body {
 	    background-color: #f7f7f7;
           font-family: 'Noto Sans', sans-serif;
  	 }
  	.bold {font-weight:600;}
  	.underline {text-decoration: underline;}
  	.space {margin-left: 12px;}
  	.ilblock {
  		display: inline-block;
  	}

  	.day-breaker {
	    font-size: 16px;
    	font-weight: bold;
    	color: blue;
    	margin: 12px 0 8px;
  	}

  	.indv {border-bottom: 1px solid #ccc;}

	#note {
	    background-color: #a6a6dc;
	    padding: 1px 10px 10px;
	    color: white;
	    margin-top: 40px;
	    border-radius: 5px;
	}

  	.ct-list,  .tz-list {
	    list-style: none;
	    display: inline-flex;
	    margin: 0;
	    padding: 0;
  	}
  	.tz-list li {padding-right: 10px;}
	
	.ct-list li {
	    border: 1px solid #ccc;
	    padding: 10px;
	    margin-right: 5px;
            border-radius: 5px;
	}

  	.main {
  		margin-top: 20px;
  	}
  	.copy-final { color: green; margin-left: 10px; font-size: 16px; font-weight: bold;}

  	.thingList, .minList:after {display: block;}
  	.thingList, .hourList, .minList  {
  		margin-bottom: 8px;
  		height: 34px;
  	}
  	.thingList {
    	display: inline-block;
  	}

  	.copy-style {margin-bottom: 10px;}

  	.btn {
  		background-color: #f44336;
	    border: 1px solid #ccc;
	    color: #FFFFFF;
	    font-weight: bold;
	    padding: 15px 32px;
	    text-align: center;
	    margin: 16px 0;
	    text-decoration: none;
	    font-size: 16px;
	    cursor: pointer;
  	}
  	.btn:hover {
  		background-color: green;
  	}


  	.hide {display: none;}
